.user-container{
    width:100%;
    border:1px solid black;
    height:auto;
    padding:5px;
    margin:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.update-button{
    align-self: center;
}

