<form [formGroup]="userForm">
    <ng-container formArrayName="userList">
      <div *ngFor="let userControl of userControls;let i=index;" [formGroupName]="i" class="user-container">
          <div class="form-group">
            <label class="form-label">Name</label><input class="form-control" type="text" formControlName="name">
          </div>
          <div class="form-group">
            <label class="form-label">DOB</label><input type="date" formControlName="dob"  class="form-control"
            [value]="userControl?.get('dob')?.value|date:'yyyy-MM-dd'">
          </div>
          <div class="form-group">
            <label class="form-label">Email</label><input type="email" formControlName="email" class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label">Profile</label>
            <profile-image-selector formControlName="profile" [imageList]="imageList"></profile-image-selector>
          </div>

          <div class="form-group">
            <label class="form-label">Phone Numbers</label>
            <app-custom-phone formControlName="phone"></app-custom-phone>
          </div>
  
          <div class="form-group">
            <label class="form-label">Website</label><input type="text" formControlName="website" class="form-control">
          </div>
  
          <div class="form-group">
            <label class="form-label">Favourite Rank</label><input class="form-range" type="range" min="0" max="5" formControlName="favourite">
          </div>
  
          <div class="form-group">
            <label class="form-label">Addresses</label>
            <app-custom-address formControlName="address"></app-custom-address>
          </div>
          <div class="form-group update-button">
            <button [disabled]="userControl.invalid" class="btn btn-primary" (click)="updateUser(i)">Update User</button>
          </div>
        </div>
  
    </ng-container>


  
  </form>
  
