<form [formGroup]="addressForm">
  <ng-container formArrayName="addressLineList">
    <ng-container *ngFor="let address of addressControls;let i=index;">
       <div [formGroupName]="i" class="row">
         
         <div class="col-md-4 form-field">
          <label class="form-label">Street</label><textarea formControlName="street" class="form-control"></textarea>
         </div>
         <div class="col-md-4 form-field">
          <label class="form-label">Suite</label><textarea formControlName="suite" class="form-control"></textarea>
         </div>
         <div class="col-md-4 form-field">
          <label class="form-label">City</label><textarea formControlName="city" class="form-control"></textarea>
         </div>
         <div class="col-md-4 form-field">
          <label class="form-label">Zipcode</label><textarea formControlName="zipcode" class="form-control"></textarea>
         </div>
       </div>
    </ng-container>
  </ng-container>

  <!-- <button class="btn btn-primary" (click)="addAddress()">Add Address</button> -->
</form>
