<form [formGroup]="addressForm">
  <ng-container formArrayName="addressLineList">
    <ng-container *ngFor="let address of addressControls;let i=index;">
       <div [formGroupName]="i">
         
         <div class="form-control">
          <label>Street</label><textarea formControlName="street"></textarea>
         </div>
         <div class="form-control">
          <label>Suite</label><textarea formControlName="suite"></textarea>
         </div>
         <div class="form-control">
          <label>City</label><textarea formControlName="city"></textarea>
         </div>
         <div class="form-control">
          <label>Zipcode</label><textarea formControlName="zipcode"></textarea>
         </div>
       </div>
    </ng-container>
  </ng-container>
  <button (click)="addAddress()">Add Address</button>
</form>
