<form [formGroup]="cartForm" (ngSubmit)="submit()" class="productForm">
    <div formArrayName="products">
        <div *ngFor="let product of productList;let i=index" [formGroupName]="i">
            <div class="product-container">
                <label class="form-label">{{product.get('name')?.value}}</label>
                <label class="description">{{product.get('description')?.value}}</label>
                <label class="price">${{product.get('price')?.value}}</label>
                <app-quantity-control formControlName="quantity"></app-quantity-control>
                <span class="error-nostock" *ngIf="!product.get('stock')?.value">Product no longer in stock !!</span>
                <div class="qty-control-status">
                    <span><b>Touched ?</b> {{product.get('quantity')?.touched}}</span>
                    <span><b>Valid ?</b> {{product.get('quantity')?.valid}}</span>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="cartForm.invalid">Checkout</button>
</form>