.phone-list-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.phone-container{
    border:1px solid black;
    width:auto;
    padding:5px;
    margin:5px;
    display:flex;
    flex-direction: column;
}

.btn-close{
    align-self: flex-end;
}