/* You can add global styles to this file, and also import other style files */



ul{
    display: flex;
    list-style-type: none;

    li{
        padding:5px;
    }
}

input,textarea{
    outline: none;
    border:0px
}

.form-label{
    font-weight: bold;
    font-style: italic;
}

.main{
    font-size:larger
}
